:root {
	--color-trim: grey;
	--color-theme-1: #752436;
	--color-theme-2: #5a8219;
	--color-theme-2-alt: #5b8f08;
	--color-theme-1-sub: #882a3f;
	--color-light-text: white;
	--color-dark-text: black;
	--color-glass-light: rgba(255, 255, 255, 0.514);

	--color-darkslate:#203b36;
	--color-timberwolf:#DDCECD;
	--color-isabelline: #EEE5E5;
	--color-gunmetal: #292F36;
	
	--color-rating-poor:rgb(189, 47, 47);
	--color-rating-medium: rgb(212, 151, 37);
	--color-rating-good: #5a8219;

	--TEMP-glass-panel: rgba(238, 238, 238, 0.164);

	--general-max-width: 75rem;

	--color-soft-black: #4f4f4f;



}
*{
	box-sizing: border-box;
	color:var(--color-soft-black);  
}

body {
	min-height: 100vh;
	margin: 0;
	font-family: lexend, sans-serif;

	color:#292F36;
	
	background-color: #ebebeb;
	/*background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2371874d' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
	*/
	overflow-x: hidden;
}
h2{

    font-size: 2.2rem;

}
ul{
	padding:0;
}
li{
	list-style: none;
}
span{
	color:inherit;
}
textarea{
	font-family: lexend, sans-serif;
	font-size:medium;
}
input[type='text'],
input[type='password'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='email']{
	font-family: lexend, sans-serif;
	outline: none;
	border:none;
	background-color: white;
	box-shadow: 0px 2px darkgrey;

	font-size: 1rem;
}
input[type='text']:disabled,

input[type='password']:disabled{
	color:lightgrey;
	box-shadow: 0px 2px lightgrey;
}
input[type='text']:focus,
input[type='password']:focus,
input[type='url']:focus,
input[type='tel']:focus,
input[type='number']:focus{
	outline:none;
	box-shadow: 0px 2px var(--color-theme-2);

}
/*Implement Custom Scrollbar*/

a {
	color: var(--color-soft-black);
	text-decoration: none;
	cursor: pointer;
	transition: color 50ms ease;
}
a:hover{
	color:var(--color-theme-2);
}
button{
	cursor: pointer;
	font-size: 1.2rem;
}
th{
	text-align: left;
	padding: .4rem .5rem;
}
td{
	position: relative;
	white-space: nowrap;
	padding: 1rem .5rem;
	font-size: .8rem;
}
tr{
	
	box-shadow: 0px 1px rgba(128, 128, 128, 0.678);
}
tr:first-child{
	outline:none;
	border:none;
}
tr:not(:first-child):hover{
	background-color: rgba(0, 0, 0, 0.051);
}

table{
	width:100%;
	table-layout: auto;
	border-collapse: collapse;
	overflow-x: auto;
}
input.hiddenInput{
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top:0;
	left:0;
}
.secondaryButton{
	border: 2px solid var(--color-soft-black);
	border-radius: 5px;
	font-weight: bold;
	padding: .3rem;
	background-color: white;
}
.flavorText{
	text-align: center;
	font-style: italic;
}
.largeButton{


	color:white;
	background-color: var(--color-theme-2);
	border-radius: 9px;
	padding: .5rem;
	border:none;
}
.largeButton:hover{
	background-color: var(--color-theme-2-alt);
	color:white;
}
.largeButton:active{
	background-color: var(--color-theme-2);
}
.pageIcon{
	font-size: 2.2rem;
	color:rgba(0, 0, 0, 0.438);
	vertical-align: baseline;
	margin: 0 .5rem;
}
.layoutNav ul li a[aria-current=page]{

	box-shadow: 0 3px var(--color-theme-2);
}
.layoutNav ul{
	display: flex;
	align-items: center;
	justify-content: left;
	
	box-shadow: 0px 2px rgba(0, 0, 0, 0.305);
}
.layoutNav ul li{
	margin: 0 1rem;
	margin-bottom: 2px;
}

.panel.layoutNav{
	margin-bottom: none;
}
a[aria-current="page"]{
	color:var(--color-theme-2);
	box-shadow: 0 2px var(--color-theme-2);
}
a[aria-current="page"] span{
	color:inherit;
}
.panel{
	background-color: white;
	padding:1rem;
	margin-bottom: 1rem;
}
.subtleText{
	color:rgba(42, 42, 42, 0.623);
}
.content{
	width: clamp(15rem, 100%, 75rem);
	
	margin: auto;
}

.roundedContainer{
	background-color: white;
	border-radius: 10px;
	box-shadow: 1px 1px 3px var(--color-trim);
}
.glassContainer{
	background-color: var(--color-glass-light);

}
.block{
	display: block;
}
.overlay{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.background{
    overflow: hidden;
    z-index: -1;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    }
.background img{
	position: absolute;
	display: block;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit: cover;
}

.chunkyButton{
	
	border-radius: 5px;
	border: none;
	cursor: pointer;
	



	padding:.3rem;

	color: var(--color-light-text);
	background-color: var(--color-theme-1);

}
.chunkyButton:hover{


	
}
.chunkyButton:focus{

	outline: solid black 1px;
}
.chunkyButton:active{


}
.chunkyButton:disabled{
	cursor: auto;
	background-color: white;
	color: lightgrey;
	outline:2px solid lightgray;
}

.glassTint{
	background-color: rgba(0, 0, 0, 0.688);
	backdrop-filter: blur(2px);

}

.textColorAccent{
	color: var(--color-theme-2);
}
.background{
    overflow: hidden;
    z-index: -1;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    }
.background img{
	position: absolute;
	display: block;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit: cover;
}